﻿@model AkastenQRCertificate.ViewsModel.CertificateModel

@{
    Layout = null;
}

<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Certificate</title>
    <link rel="stylesheet" href="https://localhost:44331/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link  rel="stylesheet"  href="https://localhost:44331/css/cert-styles.css" />
</head>


<body>
    <div class="row">
        <div class="col-md-4">
            <div class="row receipt-section d-flex justify-content-center">

                <!--Receipt Section-->
                <div class="row receipt d-flex justify-content-center">
                    <span class="tf-bold fs-13" style="font-family: 'GillSansUltraBold';">ORIGINAL RECEIPT</span>
                </div>
                <div class="receipt-details">
                    <div class="row">
                        <div class="col-12 ml-45">
                            <span class="fs-13" style="font-family: Consolas;">Date:</span><span class="dashed-underline" style="font-family: 'DilleniaUPC'; width: 57%; position: relative; top: -7px;"><span class="ff-britannic" style="font-family:Britannic; font-size:12px; position:relative;top:3px;"> @Model.DateOfInstallation</span></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 ml-45">
                            <span class="fs-13" style="font-family: Consolas;"> For Vehicle Reg No.: </span><span class="dashed-underline line-width-40" style="font-family: 'DilleniaUPC'; "><span class="detail-entry">@Model.VehicleRegistrationNo</span></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 ml-45">
                            <span class="fs-13" style="font-family: Consolas;">Speed governor fitted and payment received </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 ml-45 fs-13" style="font-family: Consolas;">
                            <span class="fs-13" style="font-family: Consolas;"> Sign:</span><span class="dashed-underline line-width-70" style="font-family: 'DilleniaUPC'; top:-1px; "><span class="detail-entry"></span></span>
                        </div>
                    </div>
                </div>
                <!-- Receipt section -->
                <div class="receipt-space">
                    <p> &nbsp;</p>
                    <p> &nbsp;</p>
                    <p> &nbsp;</p>
                </div>
                <!--Receipt Section-->
                <div class="row receipt d-flex justify-content-center">
                    <span class="tf-bold fs-13" style="font-family: 'GillSansUltraBold';">DUPLICATE RECEIPT</span>
                </div>
                <div class="receipt-details">
                    <div class="row">
                        <div class="col-12 ml-45">
                            <span class="fs-13" style="font-family: Consolas;">Date:</span><span class="dashed-underline" style="font-family: 'DilleniaUPC'; width: 57%; position: relative; top: -7px;"><span class="ff-britannic" style="font-family:Britannic; font-size:12px; position:relative;top:3px;"> @Model.DateOfInstallation</span></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 ml-45">
                            <span class="fs-13" style="font-family: Consolas;"> For Vehicle Reg No.: </span><span class="dashed-underline line-width-40" style="font-family: 'DilleniaUPC'; "><span class="detail-entry">@Model.VehicleRegistrationNo</span></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 ml-45">
                            <span class="fs-13" style="font-family: Consolas;">Speed governor fitted and payment received  </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 ml-45 fs-13" style="font-family: Consolas;">
                            <span class="fs-13" style="font-family: Consolas;"> Sign:</span><span class="dashed-underline line-width-70" style="font-family: 'DilleniaUPC'; top: -1px; "><span class="detail-entry"></span></span>
                        </div>
                    </div>
                </div>
                <!-- Receipt section -->
            </div>
            <div class="row qr-compliance">
                <img width="88" height="88" src="@Model.QRCode" class="qr-img" />
            </div>
            <div class="row compliance d-flex justify-content-center">
                <span class="tf-bold fs-13 ff-gillsans" style="font-family: 'GillSansUltraBold';">SPEED LIMITER COMPLIANCE</span>
            </div>
            <div class="compliance-details">
                <div class="row">
                    <div class="col-10 ml-3">
                        <span class="pt-9485" style="font-family: Consolas;">GOVERNOR TYPE/MODE:</span><span class="dashed-underline" style="font-family: 'DilleniaUPC'; width: 52%; position: relative; top: -7px;"><span class="detail-entry ff-britannic" style="font-family:Britannic;font-size:12px; position:relative;top:3px;"> HRM-1</span></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10 ml-3">
                        <span class="pt-9485" style="font-family: Consolas;"> VEHICLE REGISTRATION NO: </span><span class="dashed-underline line-width-35" style="font-family: 'DilleniaUPC'; "><span class="detail-entry">@Model.VehicleRegistrationNo</span></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-11 ml-3">
                        <span class="pt-9485" style="font-family: Consolas;">
                            DATE OF INSTALLATION
                        </span>
                        @if (@Model.Status == "NEW INSTALLATION")
                        {
                            <img width="18" height="18" src="https://localhost:44331/images/check.png" class="mr-2" />
                        }
                        else
                        {
                            <svg width="28" height="30" class="check-box" style="position: relative; left: -5px;">
                                <rect width="15" height="17" style="fill:rgb(255,255,255);stroke-width:1;stroke:rgb(0,0,0)" />
                            </svg>
                        }
                        <span class="pt-9485" style="font-family: Consolas; position:relative;left:-11px;">RENEWAL</span>
                        @if (@Model.Status == "RENEWAL")
                        {
                            <img width="18" height="18" src="https://localhost:44331/images/check.png" class="mr-2" style="position: relative; left: -12px;" />
                        }
                        else
                        {
                            <svg width="28" height="30" class="check-box" style="position: relative; left: -9px;">
                                <rect width="15" height="17" style="fill:rgb(255,255,255);stroke-width:1;stroke:rgb(0,0,0)" />
                            </svg>
                        }
                        <span class="dashed-underline line-width-15" style="font-family: 'DilleniaUPC'; position: relative; left: -21px; "><span class="detail-entry">@Model.DateOfInstallation</span></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10 ml-3 pt-9485" style="font-family: Consolas;">
                        <span class="pt-9485" style="font-family: Consolas; position:relative;top:-7px;"> EXPIRY DATE:</span><span class="dashed-underline line-width-68" style="font-family: 'DilleniaUPC';position:relative;top:-17px; "><span class="detail-entry">@Model.ExpiryDate</span></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8 cert-details">
            <div class="row d-flex justify-content-end">
                <div class="qr-code">
                    <img width="88" height="88" src="@Model.QRCode" class="qr-img" />
                    <span class="tf-bold tf-cert-size ff-footlight justify-content-center" style="font-family: 'Footlight MT Light'; position:relative;top:-7px;"> CERT NO: @Model.CertificateNo</span>
                </div>
            </div>
            <br />
            <div class="row d-flex justify-content-center cert-det mb-2">
                <span class="ff-cassandra" style="font-family:'Cassandra Personal Use';">This is to certify that</span>
                <br />
            </div>
            <div class="row  cert-det">
                <div class="col-6">
                    <span class="ff-iskpota" style="font-family:'Iskoola Pota';">Vehicle Registration No:</span> <span class="dashed-underline line-width-45" style="font-family: 'DilleniaUPC'; "><span class="detail-entry">@Model.VehicleRegistrationNo</span></span>
                </div>
                <div class="col-6">
                    <span class="ff-iskpota" style="font-family:'Iskoola Pota';">
                        Chassis
                        No:
                    </span> <span class="dashed-underline line-width-45" style="font-family: 'DilleniaUPC'; "><span class="detail-entry">@Model.ChassisNo</span></span>
                </div>

            </div>
            <div class="row  cert-det">
                <div class="col-6">
                    <span class="ff-iskpota" style="font-family:'Iskoola Pota';">Make:</span> <span class="dashed-underline line-width-80" style="font-family: 'DilleniaUPC'; "><span class="detail-entry">@Model.Make</span></span>
                </div>
                <div class="col-6" style="font-family:'Iskoola Pota';">
                    <span class="ff-iskpota" style="font-family:'Iskoola Pota';">Type:</span> <span class="dashed-underline line-width-60" style="font-family: 'DilleniaUPC'; "><span class="detail-entry">@Model.Type</span></span>
                </div>
            </div>
            <div class="row  cert-det">
                <div class="col-12">
                    <span class="ff-iskpota">
                        Has been Fitted with approved Speed Governor (HRM-1) Hybrid Road
                        Master
                    </span>
                </div>
            </div>
            <div class="row  cert-det">
                <div class="col-12" style="font-family:'Iskoola Pota';">
                    <span class="ff-iskpota" style="font-family:'Iskoola Pota';">Device Serial Number:</span> <span class="dashed-underline line-width-65" style="font-family: 'DilleniaUPC'; "><span class="detail-entry">@Model.DeviceSerialNumber</span></span>
                </div>
            </div>
            <div class="row  cert-det" style="position:relative;top:-2px;">
                <div class="col-12">
                    <span class="tf-bold ff-bodoni" style="font-family: 'Bodoni MT Black'; font-size: 15.495pt;">
                        The Governor is calibrated and sealed not to exceed 80
                        km/hr
                    </span>
                </div>
            </div>
            <div class="row  cert-det">
                <div class="col-12">
                    <span class="tf-bold tf-italic ti-92 ff-tns">
                        <span class="pt-11458">This Certificate is valid for 12 months from date of issue</span>
                    </span>
                </div>
            </div>
            <div class="row  cert-det mb-2">
                <div class="col-12">
                    <span class="tf-bold tf-italic ff-tns">
                        <span class="pt-10081">
                            Tampering with the
                            speed
                            governor
                            is
                            an offence
                            and such will nullify all warranties and conditions.
                        </span>
                    </span>
                </div>
            </div>
            <div class="row  cert-det d-flex justify-content-center">
                <span class="ff-copperplate" style="font-family: Copperplate Gothic Light;">FITTING CENTER DETAILS</span>
            </div>
            <div class="row  cert-det g-2">
                <div class="col-10">
                    <span class="ff-iskpota" style="font-family:'Iskoola Pota';">
                        Business Reg. No.
                    </span> <span class="dashed-underline line-width-15" style="font-family: 'DilleniaUPC'; "><span class="detail-entry">PVT-9XULXGL</span></span>

                    &nbsp; <span class="ff-iskpota" style="font-family:'Iskoola Pota';">
                        Pin No.:
                    </span> <span class="dashed-underline line-width-15" style="font-family: 'DilleniaUPC'; "><span class="detail-entry">P051766422K</span></span>
                    &nbsp;

                    <span class="ff-iskpota" style="font-family:'Iskoola Pota';">VAT No:</span> <span class="dashed-underline line-width-15" style="font-family: 'DilleniaUPC'; "><span class="detail-entry">P051766422K</span></span>
                </div>
            </div>
            <div class="row  cert-det">
                <div class="col-12">
                    <span class="ff-iskpota" style="font-family:'Iskoola Pota';">
                        Location:
                    </span> <span class="dashed-underline line-width-40" style="font-family: 'DilleniaUPC'; "><span class="detail-entry">@Model.Location</span></span>


                    <span class="ff-iskpota" style="font-family:'Iskoola Pota';">
                        Tel:
                    </span> <span class="dashed-underline line-width-25" style="font-family: 'DilleniaUPC'; ">
                        <span class="detail-entry">
                            0732440037,
                            0798035606
                        </span>
                    </span>
                </div>
            </div>
            <div class="row  cert-det">
                <div class="col-12">
                    <span class="ff-iskpota" style="font-family:'Iskoola Pota';">
                        Date of Installation
                    </span>
                    &nbsp;
                    @if (@Model.Status == "NEW INSTALLATION")
                    {
                        <svg version="1.0" id="checkbox" width="38" height="28" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="209.667 9.667 589.37 540.667" enable-background="new 209.667 9.667 589.37 540.667"
                             xml:space="preserve">
                        <rect id="checkbox_1_" x="211.667" y="11.667" fill="#FFFFFF" stroke="#000000" stroke-width="4"
                              stroke-miterlimit="10" width="425.667" height="480.667" />
                        <polygon id="checkmark" stroke="#000000" stroke-miterlimit="10" points="451.92,291.724 254.569,205.919 211.667,220.22
                    451.92,463.333 798,28.589 737.937,28.589 " />
                            </svg>
                    }
                    else
                    {
                        <svg width="38" height="28">
                            <rect width="28" height="18" style="fill:rgb(255,255,255);stroke-width:1;stroke:rgb(0,0,0)" />
                        </svg>
                    }
                    <span class="dashed-underline line-width-45" style="font-family: 'DilleniaUPC'; "><span class="detail-entry">@(@Model.Status == "NEW INSTALLATION" ? @Model.DateOfInstallation:"NIL")</span></span>
                </div>
            </div>
            <div class="row cert-det ti-88">
                <div class="col-12">
                    <span style="font-family:'Iskoola Pota';">
                        Date of Renewal
                    </span> &nbsp;
                    @if (@Model.Status == "RENEWAL")
                    {
                        <svg version="1.0" id="checkbox" width="38" height="28" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="209.667 9.667 589.37 540.667" enable-background="new 209.667 9.667 589.37 540.667"
                             xml:space="preserve">
                        <rect id="checkbox_1_" x="211.667" y="11.667" fill="#FFFFFF" stroke="#000000" stroke-width="4"
                              stroke-miterlimit="10" width="425.667" height="480.667" />
                        <polygon id="checkmark" stroke="#000000" stroke-miterlimit="10" points="451.92,291.724 254.569,205.919 211.667,220.22
                    451.92,463.333 798,28.589 737.937,28.589 " />
                            </svg>
                    }
                    else
                    {
                        <svg width="38" height="28">
                            <rect width="28" height="18" style="fill:rgb(255,255,255);stroke-width:1;stroke:rgb(0,0,0)" />
                        </svg>
                    }

                    <span class="dashed-underline line-width-35" style="font-family: 'DilleniaUPC'; "><span class="detail-entry">@(@Model.Status == "RENEWAL" ? @Model.DateOfInstallation:"NIL")</span></span>
                </div>
            </div>
            <div class="row cert-det ti-88">
                <div class="col-12">
                    <span style="font-family:'Iskoola Pota';"> Expiry Date:</span><span class="dashed-underline line-width-50" style="font-family: 'DilleniaUPC'; "><span class="detail-entry">@Model.ExpiryDate</span></span>
                </div>
            </div>
            <div class="row cert-det ti-88">
                <div class="col-12">
                    <span style="font-family:'Iskoola Pota';">AGL Signature:</span><span class="dashed-underline line-width-50"><span> <img width="100" height="20" src="https://localhost:44331/images/muhammad.jpeg" class="" /></span></span>
                </div>
            </div>
        </div>
    </div>
    @if (@Model.Status == "NEW INSTALLATION")
    {
        <div class="row">
            <div class="col-8 warranty">
                VEHICLE OWNER’S NAME: <span class="dashed-underline line-width-60 warranty-entry" style="font-family: 'DilleniaUPC'; "><span class="detail-entry" style="position:relative !important; left:-31px !important;">@Model.VehicleOwnerName</span></span> <br />
                VEHICLE OWNER’S ID:<span class="dashed-underline line-width-64 warranty-entry" style="font-family: 'DilleniaUPC'; "><span class="detail-entry" style="position: relative !important; left: -27px !important; ">@Model.VehicleOwnerId</span></span> <br />
                OWNER’S PHONE NUMBER: <span class="dashed-underline line-width-57 warranty-entry" style="font-family: 'DilleniaUPC';"><span class="detail-entry" style="position: relative !important; left: -42px !important; ">@Model.OwnerPhoneNo</span></span> <br />
                VEHICLE REGISTRATION NUMBER: <span class="dashed-underline line-width-50 warranty-entry" style="font-family: 'DilleniaUPC';"><span class="detail-entry" style="position: relative !important; left: -37px !important; ">@Model.VehicleRegistrationNo</span></span> <br />
                SPEED GOVERNOR SERIAL NO: <span class="dashed-underline line-width-50 warranty-entry" style="font-family: 'DilleniaUPC'; "><span class="detail-entry" style="position: relative !important; left: -18px !important; ">@Model.DeviceSerialNumber</span></span> <br />
                DATE OF FITTING: <span class="dashed-underline line-width-65 warranty-entry" style="font-family: 'DilleniaUPC'; "><span class="detail-entry"> @Model.DateOfInstallation</span></span> <br />
                CUSTOMER SIGNATURE <span class="dashed-underline line-width-60" style="font-family: 'DilleniaUPC'; "><span class="detail-entry"> _</span></span> <br />
                AGL REPRESENTATIVE: <span class="dashed-underline line-width-30" style="font-family: 'DilleniaUPC'; "><span class="detail-entry"> MUHAMMAD IBN MUHAMMAD</span></span>    SIGNATURE: <span class="dashed-underline line-width-20" style="font-family: 'DilleniaUPC';"><span class="detail-entry" style="position: relative; top: -1px; "> <img width="100" height="20" src="https://localhost:44331/images/muhammad.jpeg" class="" /></span></span> <br />
            </div>

        </div>
    }
</body>
</html>