﻿@font-face {
    font-family: 'CassandraPersonalUse';
    src: url(https://localhost:44331/lib/font/CassandraPersonalUse.ttf);
}

@font-face {
    font-family: DilleniaUPC;
    src: url(https://localhost:44331/lib/font/DilleniaUPC.ttf);
}

@font-face {
    font-family: BodoniMTBlack;
    src: url(https://localhost:44331/lib/font/BodoniMTBlack.ttf);
}

@font-face {
    font-family: 'Iskoola Pota';
    src: url(https://localhost:44331/lib/font/iskpota.ttf);
}

@font-face {
    font-family: 'CopperplateGothicLightRegular';
    src: url(https://localhost:44331/lib/font/CopperplateGothicLightRegular.ttf);
}

@font-face {
    font-family: 'FootlightMTLight';
    src: url(https://localhost:44331/lib/font/FootlightMTLight.ttf);
}

@font-face {
    font-family: 'GillSansUltraBold';
    src: url(https://localhost:44331/lib/font/GillSansUltraBold.ttf);
}

@font-face {
    font-family: Consolas;
    src: url(https://localhost:44331/lib/font/Consolas.ttf);
}

@font-face {
    font-family: Britannic;
    src: url(https://localhost:44331/lib/font/Britannic.ttf);
}


.ff-cassandra {
    font-family: CassandraPersonalUse;
    font-size: 11.325pt;
  
}

.ff-dillenia {
    font-family: DilleniaUPC;
    font-size: 13.752pt;
}
.ff-copperplate {
    font-family: CopperplateGothicLightRegular;
    font-size:15.281pt;
}

.ff-bodoni {
    font-family: BodoniMTBlack;
}

.ff-iskpota {
    font-family: 'Iskoola Pota';
    font-size: 10.398pt;
}

.ff-tns {
    font-family: 'Times New Roman', Times, serif;
}

.ff-gillsans {
    font-family: GillSansUltraBold;
}

.ff-britannic {
    font-family: Britannic;
}

.ff-footlight {
    font-family: FootlightMTLight;
    font-size: 6.649pt;
}

.qr-code {
    margin: 15% 10% 3% 140%;
}

.qr-img {
    border: 8px solid #fff;
}

.cert-details {
    margin-bottom: 27px;
    margin-top: -77px;
    padding-left: 46px;
    padding-right: 12px;
}

.tf-bold {
    font-weight: bold;
}

.tf-italic {
    font-style: italic;
}

.ta-center {
    text-align: center;
}

.tf-cert-size {
    font-size: 8px;
}

.dashed-underline {
    justify-content: center;
    border-bottom: 2px dotted #000;
    font-size: 19px;
    display: inline-flex;
    text-align: center;
    font-weight:bold;
}

.detail-entry{
    position:relative;
    top:8px;
}

.line-width-15 {
    width: 15%;
    position: relative;
    top: -12px;
}

.line-width-18 {
    width: 18%;
    position: relative;
    top: -12px;
}

.line-width-20 {
    width: 20%;
    position: relative;
    top: -12px;
}

.line-width-22 {
    width: 22%;
    position: relative;
    top: -12px;
}

.line-width-25 {
    width: 25%;
    position: relative;
    top: -12px;
}

.line-width-30 {
    width: 30%;
    position: relative;
    top: -12px;
}

.line-width-35 {
    width: 35%;
    position: relative;
    top: -12px;
}

.line-width-40 {
    width: 40%;
    position: relative;
    top: -12px;
}


.line-width-45 {
    width: 45%;
    position: relative;
    top: -12px;
}

.line-width-48 {
    width: 48%;
    position: relative;
    top: -12px;
}


.line-width-50 {
    width: 50%;
    position: relative;
    top: -12px;
}

.line-width-57 {
    width: 57%;
    position: relative;
    top: -12px;
}

.line-width-60 {
    width: 60%;
    position: relative;
    top: -12px;
}

.line-width-65 {
    width: 65%;
    position: relative;
    top: -12px;
}

.line-width-70 {
    width: 70%;
    position: relative;
    top: -12px;
}

.line-width-64 {
    width: 64%;
    position: relative;
    top: -12px;
}

.line-width-72 {
    width: 72%;
    position: relative;
    top: -12px;
}

.line-width-75 {
    width: 75%;
    position: relative;
    top: -12px;
}


.line-width-80 {
    width: 80%;
    position: relative;
    top: -12px;
}

.line-width-90 {
    width: 90%;
    position: relative;
    top: -12px;
}

.line-width-100 {
    width: 100%;
    position: relative;
    top: -12px;
}

.compliance {
    margin-top: 25%;
    margin-bottom:-2%;
    justify-content:center;
}


.check-box {
    position: relative;
    top: 7px;
}

.fs-10 {
    font-size: 8px;
}

.fs-12 {
    font-size: 12px;
}

.fs-13 {
    font-size: 10.081pt;
    font-weight: bold;
}

.fs-14{
    font-size:14px;
}

.fs-15 {
    font-size: 15px;
    font-weight: bold;
}
.fs-16{
    font-size:16px;
}

.pt-9485 {
    font-size: 9.485pt;
}


.pt-10081 {
    font-size:10.081pt;
}

.pt-11458 {
    font-size:11.458pt;
}

.qr-compliance {
    margin: 35% 20% 5% 65%;
}

.compliance-details{
    margin-left:17px;
}

.ti-20 {
    margin-left: 20px;
}

.ti-26 {
    margin-left: 26px;
}

.ti-28 {
    margin-left: 28px;
}

.ti-30 {
    margin-left: 30px;
}

.ti-80 {
    margin-left: 80px;
}

.ti-88 {
    margin-left: 88px;
}

.ti-92 {
    margin-left: 92px;
}

.ml-45 {
    margin-left: 40px;
}

